<p id="notice"><%= notice %></p>
<h1>Transaction <%= shorten_hash(@tx.txid, 25) -%></h1>
<p>
  <strong>Transaction ID:</strong>
  <tt><%= @tx.txid %></tt><br/>
</p>
<p>
  <strong>User:</strong>
  <%= @user.username %><br/>

  <strong>Action:</strong>
  <%= html_for_tx_category(@tx).html_safe %><br/>

  <strong>Amount:</strong>
  <%= html_for_tx_amount(@tx).html_safe %><br/>

  <strong>Confirmations:</strong>
  <%= html_for_tx_confirmations(@tx).html_safe %></br>

  <strong>Block:</strong>
  <% if @tx.blockhash %>
    <tt><%= @tx.blockhash %></tt>
    (link: <%= html_for_tx_blockhash(@tx).html_safe %>)
  <% else %>
    Unconfirmed
  <% end %><br/>

  <strong>Time:</strong>
  <%= html_for_tx_date(@tx) %><br/>

  <strong>Comment:</strong>
  <%= @tx.comment or "none" %>
</p>

